- return unless show_administration_nav?(@group)

= nav_link(path: group_administration_nav_link_paths) do
  = link_to administration_nav_path(@group) do
    .nav-icon-container
      = sprite_icon('admin')
    %span.nav-item-name
      = _('Administration')
  %ul.sidebar-sub-level-items
    = nav_link(path: group_administration_nav_link_paths, html_options: { class: "fly-out-top-item" } ) do
      = link_to administration_nav_path(@group) do
        %strong.fly-out-top-item-name
          = _('Administration')
    %li.divider.fly-out-top-item
    - if show_saml_in_sidebar?(@group)
      = nav_link(path: 'saml_providers#show') do
        = link_to group_saml_providers_path(@group), title: _('SAML SSO') do
          %span
            = _('SAML SSO')

    - if show_usage_quotas_in_sidebar?
      = nav_link(path: 'usage_quotas#index') do
        = link_to group_usage_quotas_path(@group), title: s_('UsageQuota|Usage Quotas') do
          %span
            = s_('UsageQuota|Usage Quotas')

    - if show_billing_in_sidebar?
      = nav_link(path: 'billings#index') do
        = link_to group_billings_path(@group), title: _('Billing') do
          %span
            = _('Billing')
